.nav-tabs .nav-link {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    white-space: nowrap;
}

.nav-tabs .nav-link.active {
    background-color: #2e7d32;
    /* Bootstrap green */
    color: #fff;
    border-color: #198754 #198754 #fff;
}